body.detect-made-by-ai {
  .made-by-ai,
  .made-by-semi-ai {
    text-shadow:
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
  }
  .made-by-ai {
    color: yellow;
  }
  .made-by-semi-ai {
    color: deepskyblue;
  }
}
